/* *,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} */

p {
  color: #fff;
}

.card {
  margin: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-color: rgb(0, 225, 255);
  border-width: 3px;
  border-style: solid;
  padding: 20px;
}

.animate {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 4rem;
  background-image: -webkit-linear-gradient(80deg, #ff0505, #fa07a9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 1s infinite;
}

.headings {
  background-image: -webkit-linear-gradient(80deg, #09ff00, #0026ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 1s infinite;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

h4 {
  font-size: 1rem;
  text-align: center;
}

.left h4 {
  position: relative;
  z-index: 2;
  color: #fff;
}

.left:hover h4 {
  color: rgb(0, 0, 0);
}

html {
  font-size: 100%;
  background: #000000;
}

table {
  border-color: chartreuse;
  width: 100%;
  text-align: center;
}

.inner h3 b {
  color: yellow;
}

h3 {
  font-size: 2rem;
  background: #f7ff00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #db36a4, #f7ff00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #db36a4, #f7ff00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  color: white;
  font-family: Lora, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  padding: 0;
}

.skill-set li:hover {
  background: #3498db;
}

.wrapper {
  height: 100%;
}

.left {
  /* background-color: rgba(0, 0, 0, .025); */
  /* border-right: 1px solid rgba(0, 0, 0, .05); */
  float: right;
  padding: 0%;
  margin: 0;
  border: 0;
  height: 100%;
  /* margin-left: -1px; */
  min-width: 256px;
  position: fixed;
  width: 33.33%;
  background: #fc00ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dbde, #fc00ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* color: #fff; */
  transition: all 0.3s ease;
}

.left:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #230327;
  transition: all 0.35s;
  border-radius: 4px;
}

.left h1 {
  position: relative;
  z-index: 2;
  color: #fff;
}

.left a {
  position: relative;
  z-index: 2;
  color: #fff;
}

.left img {
  position: relative;
  z-index: 2;
  color: #fff;
}

.left:hover {
  color: #ffffff;
}

.left:hover:after {
  width: 100%;
}

.right {
  float: right;
  height: 100%;
  position: relative;
  width: 66.66%;
}

.name-hero {
  background: rgba(0, 0, 0, 0.001);
  bottom: 0;
  height: 290px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 85%;
}

.me-img {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/36334/profile/profile-512_4.jpg)
    no-repeat center center;
  background-size: 100%;
  background-position: 0px;
  border-radius: 50%;
  height: 150px;
  margin: 0 auto;
  position: relative;
  width: 150px;
}

.name-hero h1 {
  font-family: Open Sans, sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.name-hero h1 em {
  color: rgba(0, 0, 0, 0.3);
  font-style: normal;
  font-weight: 700;
}

.name-hero p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.75em;
  line-height: 1.5;
  margin: 0 8px 0 0;
  text-align: center;
}

.name-hero .name-text {
  margin: 0 auto;
  width: 85%;
}

.inner {
  margin: 0 auto;
  max-width: 975px;
  padding: 3em;
  background: #000000;
  transition: all 0.3s ease;
}

.inner h1 {
  font-size: 1.75em;
}

.inner p {
  color: rgb(255, 255, 255);
}

.inner p em {
  color: rgb(255, 255, 255);
  font-style: normal;
}

.inner section {
  margin: 100px auto;
}

ul {
  list-style-type: none;
  margin-top: -10px;
  max-width: 570px;
  padding: 0;
}

.skill-set li {
  background: #fc00ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00dbde, #fc00ff);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  list-style: none;
  margin: 15px 15px 0 0;
  padding: 10px;
  text-align: justify;
}

@media screen and (max-width: 48em) {
  .right,
  .left {
    float: none;
    position: relative !important;
    width: 100%;
    min-height: 700px;
  }
  .handmade {
    text-align: center !important;
    margin-top: 0px !important;
  }
  @media screen and (max-width: 75em) {
    body {
      font-size: 16px;
    }
  }
  @media screen and (max-width: 60em) {
    body {
      font-size: 14px;
    }
  }
  .clearfix:after {
    content: " ";
    /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  .handmade {
    text-align: right;
    margin-top: 100px;
  }
  .handmade em {
    font-family: "Shadows Into Light", cursive;
    font-size: 1.25em;
    margin-left: 5px;
  }
  .me-img {
    padding-left: 30px;
  }
  .animate {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: -webkit-linear-gradient(80deg, #ff0505, #fa07a9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 1s infinite;
  }
  @-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(360deg);
    }
  }
  .card {
    margin: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: rgb(0, 225, 255);
    border-width: 3px;
    border-style: solid;
    padding: 20px;
  }
}
